<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-light float-right' %>

<h2>Author: <%= @author.full_name %></h2>

<p>
  <%= format_date @author.dob %>
</p>

<hr>

<%= render @author.posts %>
